*{ 
    border: 1px solid red;
    margin:0;
}
.header {
    display: flex;
    background-color: black;
    color: white;
    font: 1.2em sans-serif;
    height: 2.5em;
    width: auto;
}
.header img{
    height: 2.5em;
}
.header div {
    flex: 1;
}
.header #user {
    display: flex;
    flex: 0.25;
}

.right-al {
    margin: auto;
    margin-right:1%;
    text-align: right;
}
.left-al {
    text-align: left;
    margin: auto;
}
.logo {
    height: auto;
    width: auto;
}
.container {
    height:auto;
    padding: 16px 16px 16px 16px;
    background: plum;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.item {
    width: 50em;
    height: 30em;
    border: 4px solid darkslategray;
    background: skyblue;
    margin: 1em;
}